# Python Virtual Environment
myenv/

# Python cache files
__pycache__/
*.pyc

# Buildozer build artifacts
.buildozer/
bin/
lib/

# Android package files
*.apk
*.aab

# Keystore files (sensitive)
*.keystore

# IDE / Editor specific files
.idea/
.vscode/

# Extras
release.sh
commandlinetools-linux-13114758_latest.zip
prompt.md
